.input-container{
    padding-bottom: 20px;
}
.input-label{
    padding-bottom: 5px;
}
.input-field{
    border: none; 
    outline: none;
    width: 90%; 
}
.input-icon{
    float: right;
    text-align: center;
    margin-top: 5px;
}
.input-box{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
}