.nav-bar{
    display: flex;
    align-items:  center;
    justify-Content: space-between;
}
.home-image{
    align-self: center; 
    text-decoration: underLine;
    margin-left: 3em;
}
.nav-icon{
    margin-right: 2em; 
    cursor: pointer; 
}